.cache/
.config/
.java/
.snakemake/
collapsed/
data/
fastQC/
genome_alignment/
genome_counts/
metrics/
mirbase_alignment/
miRNA_Quant/
mirtop/
multiqc_report_data/
plots/
slurm_logs/
spikein_alignment/
spikein_counts/
spikein_metrics/
trimming/
Expected_Results.xlsx
*.log
multiqc_report.html
Rplots.pdf